/* Responsive css */

@media(max-width: 1500px){
    
}
@media(max-width: 767px){
    .navLogo img{
    width: 80px;
}
    nav{
    flex-direction: column;
    background-color: #ede3e3;
    position: static;
    z-index: 0;
}
.navLeft{
    flex-direction: column;
}
.navRight{
    margin:3px 0px;
    flex-direction: column-reverse;
    align-items: center;
}
.navMenu ul li a{
    font-size: 18px;
}
.heroSection{
    height: 100vh;
    margin-bottom: 5px; 
 }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    font-size: 30px;
    width: 250px;
}
.container p{
    font-size: 28px;
    width: 250px;
 }
 .span{
    font-size: 25px;
}
.signatureProduct {
    flex-direction: column;
}
.signatureProduct .signatureProductLeft {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;  
}
.signatureProductLeft h2 {
    font-size: 35px;
    background-color: rgb(194, 216, 236);
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
}
.signatureProductRight {
    max-width: 100%;
    opacity: 85%;
}
.signatureProductLeft p {
visibility: hidden;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    background-color: lightcoral;
    border-radius: 10px;
    max-width: 600px;
    padding: 10px 25px;
}
.productList{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productList .col-1-4{
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.goodWishersHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodWishersHeading h3{
    font-size: 35px;
    padding: 10px 35px;
    background-color: rgb(195, 215, 233);
    max-width: 600px;
    border-radius: 10px;
    margin: 0px;
}
.goodWisher {
    flex-direction: column;
}
.goodWisher .col-1-3 {
    max-width: 100%;
}

.realStories {
    flex-direction: column;
}

.realStories .col-1-3{
    max-width: 100%;
}

.realStories .col-1-3 .box-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-txt p{
    margin-left: 0%;
    background-color: #e2bcd7;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
}

.last-btn .btn {
    margin-top: 30px;
    margin-left: 0%;
    width: 200px;
}

.footerUper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.footerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerRight .right-txt{
    display: flex;
    flex-direction: row;
}
.right-txt-1{
    color: white;
    font-size: 18px;
    padding: 10px 10px;
}

.imageGallery img{
    max-width: 100%;
}
/* .imageGallery{
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.hoverImg{
    max-width: 100%;
}

.contact{
    max-width: 470px;
}

}
@media(max-width: 600px){
    .col-1-3{
        max-width: 30%;
    }
   .navLogo img{
    width: 70px;
    padding: 0px;
}
    nav{
    flex-direction: column;
    background-color: #ede3e3;
    position: static;
    z-index: 0;
}
.navLeft{
    flex-direction: column;
}
.navRight{
    margin:3px 0px;
    align-items: center;
}
.navMenu ul li a{
    font-size: 15px;
}
}